<div class="loginContainer">
    <form class="formLogin">
        <div class="flex formInput">
            <div class="inputContainer">
                <div class="inputLabel">שם משתמש</div>
                <div class="inputBox">
                    <input class="input" type="text" id="userName">
                </div>
            </div>
            <div class="inputContainer">
                <div class="inputLabel">סיסמא</div>
                <div class="inputBox">
                    <input class="input" type="text" id="userName">
                </div>
            </div>
        </div>
        <button type="submit" class="loginButton">אישור</button>
    </form>
</div>