@{
    ViewBag.Title = "NewOrder";
}

<div class="fullHeight blackCard">
    <header class="flex header">
        <div class="flex headerTitle purple">
            <div class="title">
                בואו נבחר מועדון
            </div>
            <div class="arrowUp"></div>
        </div>
        <div class="headerLeft switch-container">
            <label class="switch-text">מפה</label>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <label class="switch-text">טבלה</label>
        </div>
    </header>
    <div class="flex contenct">
        @foreach (var club in ViewBag.Clubs as IList<Hamerim.Models.Club>)
        {
            <div class="flex card">
                @using (Html.BeginForm("AfterChooseClub", "Order"))
                {
                    <div class="card-body">
                        <input type="hidden" name="Id" value="@club.Id" id="id" />
                        <p class="card-title">@club.Name</p>
                        <p class="card-subtitle">@club.PrintAddress()</p>
                        <p class="card-footer">@String.Format("{0:n0}", club.Cost)&#8362; לערב</p>
                    </div>
                    <button type="submit" class="btn done-btn">בחרתי!</button>
                }
            </div>
        }
    </div>
</div>
