<div class="homeContainer">
    <div class="fullHeight rightSide">
        <button class="createPartyButton" href="/Home/NewOrder">בואו נרים מסיבה!</button>
        <div class="lastPartyVideo">
            <header class="flex header">
                <div class="flex headerTitle black">
                    <div class="title">
                        מהמסיבה האחרונה אצלינו
                    </div>
                    <div class="arrowUp"></div>
                </div>
            </header>
            <video width="400" height="225" controls>
                <source src="~/Content/videos/PeopleDancing.mp4" type="video/mp4" />
            </video>
        </div>
    </div>
    <div class="fullHeight blackCard leftSide flex">
        <div>
        <header class="flex header">
            <div class="flex headerTitle purple">
                <div class="title">
                    קצת עלינו
                </div>
                <div class="arrowUp"></div>
            </div>
        </header>
        <div class="aboutText">
            <section>
                <p>
                    הגיע הזמן להרים מסיבה טובה!
                    <br />
                    אחת שזוכרים, אחת שכולם רוצים להיות בה!
                </p>
            </section>
            <section>
                <p>
                    אצלנו תוכלו למצוא את כל סוגי המועדונים,
                    מהרועשים ביותר ועד המרגשים ביותר,
                    <br />
                    ואפילו תוכלו להוסיף לכם מה שתרצו -
                    <br />
                    אוכל מגוון, שתייה והמון פיצ'רים מטורפים.
                </p>
            </section>
            <section>
                <p>
                    הגיע הזמן להרים - ואת זה עושים פה!
                </p>
            </section>
        </div>
        </div>
        <div class="flex images">
            <div class="imgContainer">
                <img class="roundedImg" src="~/Content/photos/party1.jpg" width="120" height="120">
                <div class="textOnImage">פורים 2020</div>
            </div>
            <div class="imgContainer">
                <img class="roundedImg" src="~/Content/photos/party1.jpg" width="120" height="120">
                <div class="textOnImage">פורים 2020</div>
            </div>     <div class="imgContainer">
                <img class="roundedImg" src="~/Content/photos/party1.jpg" width="120" height="120">
                <div class="textOnImage">פורים 2020</div>
            </div>
        </div>
    </div>
</div>