@import url("./globals.css");

.createPartyButton {
    background-color: #E61E45;
    color: white;
    border-radius: 50%;
    border: none;
    width: 200px;
    height: 200px;
    font-size: 49px;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.aboutText {
    color: white;
    padding: 30px;
    font-size: 20px ;
}

.fullHeight {
    height: 100%;
}

.blackCard {
    background-color: rgba(18, 18, 18, 0.8);
    width: 50%;
}

.arrowUp{
    width: 0px;
    height: 0px;
    border-left: 50px solid transparent;
    border-bottom: 50px solid;
}

.purple.arrowUp{
    border-bottom-color: var(--purple);
}

.black.arrowUp{
    border-bottom-color: rgba(31, 31, 31, 0.83);
}

.headerTitle {
    color: white;
    height: 50px;
    font-size: 25px;
    padding: 10px;
    padding-right: 20px;
    width: 200px;
    line-height: normal;
}
.aboutTitle {
    background-color: var(--purple);
}

.lastPartyVideoTitle {
    background-color: rgba(31, 31, 31, 0.83);
    width: 300px;
}


.flex {
    display: flex;
}

.lastPartyVideo{
    display: flex;
    flex-direction: column;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



