@import url("./globals.css");

.createPartyButton {
    background-color: var(--pink);
    color: white;
    border-radius: 50%;
    border: none;
    width: 200px;
    height: 200px;
    font-size: 49px;
    line-height: 1;
    text-shadow: black 2px 2px;
    display: flex;
    align-items: center;
    text-align: center;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.aboutText {
    color: white;
    padding: 30px;
    font-size: 20px ;
}

.fullHeight {
    height: 100%;
    line-height: 2;
    overflow-y: hidden;
}

.lastPartyVideo{
    display: flex;
    flex-direction: column;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.leftSide {
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
}

.roundedImg {
    border-radius: 96.5px 96.5px 96.5px 0px;
    object-fit: cover;
}

.imgContainer {
    position: relative;
    text-align: center;
    color: var(--purple);
    width: 120px;
    height: 120px;
}

.textOnImage{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(31, 31, 31, 0.83);;
}

.images {
    justify-content: space-around;
}

.multipleCoulmn { 
    column-count: 2;
    column-rule-style: solid;
    column-rule-width: 1px;
}