body{
    background-image: url('../Content/background.jpg');
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-color: black;
}
.mynavbar{
    display: flex; 
    flex-direction: row;
    height: 80px;
    align-items: center;
    padding: 0px 30px;
    background-color: rgba(0, 0, 0, 0.72);
}

#manager-tab{
    margin-right: auto;
    margin-left: 0px;
}
.mytab{
    color: white;
    font-weight: bold;
    font-size: 28px;
    margin-left: 60px;
}

.content {
    color: pink;
}