html{
 height: 100%;
}
body{
    background-image: url('../Content/background.jpg');
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-color: black;
    font-family: 'Assistant', serif;
}
.mynavbar{
    display: flex; 
    flex-direction: row;
    height: 100px;
    align-items: center;
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.72);
}

#managerTab{
    margin-right: auto;
    margin-left: 0px;
}
.mytab{
    color: white;
    font-weight: bold;
    font-size: 28px;
    margin-left: 60px;
}

.logoImg { 
    width: 120px;
    height: 80px;
}

.contentContainer {
    height: calc(100% - 100px);
    padding: 20px;
}

